In [1]:
#step one, get the top 100
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
URL = 'https://www.billboard.com/charts/hot-100/'
Top100Website = requests.get(URL)
result = BeautifulSoup(Top100Website.content, 'html.parser')

In [3]:
result.find("span", id="count_texttitle-of-a-story")

In [4]:
line_number = 0
place_number = 0
Song = "";
Artists = "";
Top_100 = pd.DataFrame(columns=['place','song','artists'])

for lines in result.find_all("li", {"o-chart-results-list__item"}):
    line_number += 1

 
    if((line_number-4)%14==0):
        place_number += 1
        internal_line = 1
        for current_line in lines.get_text().splitlines():

            if(current_line.strip()!=""):
                if(internal_line==1):
                    Song = current_line.strip()
                else:
                    Artists = current_line.strip()
                    # 
                    Top_100.loc[place_number -1] = [place_number, Song, Artists]
 
                internal_line += 1

In [5]:
#temporary
Top_100

    place          song                   artists
0       1     As It Was              Harry Styles
1       2   First Class               Jack Harlow
2       3    Heat Waves             Glass Animals
3       4    Big Energy                     Latto
4       5         Enemy     Imagine Dragons X JID
..    ...           ...                       ...
95     96       P Power     Gunna Featuring Drake
96     97  Money So Big                      Yeat
97     98  Blick Blick!   Coi Leray & Nicki Minaj
98     99  Fall In Love          Bailey Zimmerman
99    100  X Ultima Vez  Daddy Yankee & Bad Bunny

[100 rows x 3 columns]

In [6]:
recommend_me_something_for_this = input("Please enter a song to base a recommendation on ")

Please enter a song to base a recommendation on Enemy

In [7]:
Number_Of_Songs_Found = len(Top_100[Top_100['song'] == recommend_me_something_for_this])

In [8]:
if(Number_Of_Songs_Found>0):
    #find a new song
    print("Let me recommend you:")
    recommendation_dataframe = Top_100.sample(n=1)
    print(str(recommendation_dataframe ))
else:
    print("“Unfortunately, the song is not in the hot list!")

Let me recommend you:
    place       song       artists
36     37  Boyfriend  Dove Cameron